<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327832564227-5eu7l698m955ndqqla4jfor42mndmvsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327832564227-5eu7l698m955ndqqla4jfor42mndmvsp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>327832564227-5kh0mhodb9mm3b1ig6htpsq576riom1q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE-iSeqLmglt6wCxDJQ04f2q_fUeufdR4</string>
	<key>GCM_SENDER_ID</key>
	<string>327832564227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamadayoshiki.vakanoteportfolio</string>
	<key>PROJECT_ID</key>
	<string>voka-note</string>
	<key>STORAGE_BUCKET</key>
	<string>voka-note.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327832564227:ios:ff58dae13602a759ddd436</string>
</dict>
</plist>